@{
    ViewBag.Title = "Home Page";
}
@model HomeViewModel

@Styles.Render("~/bundles/jqueryUi_css")

@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">*@

@using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @class = "form-horizontal col-md-10", role = "form" }))
{
    <div class="form-group">
    
        @Html.TextBoxFor(m => m.Search.Filter, new { @class = "form-control", placeholder = Html.DisplayNameFor(n => n.Search.Filter) })
        @Html.TextBoxFor(m => m.Search.Location, new { @class = "form-control", placeholder=Html.DisplayNameFor(n=>n.Search.Location) })

        <div class="input-group input-daterange" @*data-provide="datepicker"*@ @*data-date-format="yyyy-mm-dd"*@>
            @Html.JQueryUI().DatepickerFor(m => m.Search.StartDate).ChangeMonth(true).ChangeYear(true)
            @*@Html.EditorFor(m => m.Search.StartDate, new { @class = "form-control" })*@
            <span class="input-group-addon">до</span>
            @Html.JQueryUI().DatepickerFor(m => m.Search.EndDate)
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Намери кола</button>

}

@*@Scripts.Render("~/bundles/jquery")*@
@*@Scripts.Render("~/bundles/jqueryval")*@


@*<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

<script>
$('.datepicker').pickadate({
    selectMonths: true, // Enable Month Selection
    selectYears: 10 // Creates a dropdown of 10 years to control year
  });
</script>*@