@{
    ViewBag.Title = "Home Page";
}
@model HomeViewModel

@Styles.Render("~/bundles/jqueryUi_css")

<div class="search">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-offset-1">
                <div class="form-section">
                    <div class="row">
                        @*@using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @class = "form-horizontal col-md-10", role = "form" }))*@


                        @using (Ajax.BeginForm("Search", "RentItems", new { }, new AjaxOptions()
                        {
                            HttpMethod = "Post",
                            UpdateTargetId = "rentItemPanel",
                            InsertionMode = InsertionMode.Replace,
                        }, new { id = "ajaxForm", @class = "form-horizontal", role = "form" }))
                        {
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="sr-only" for="location">Location</label>
                                    @Html.TextBoxFor(m => m.Search.Filter, new { @class = "form-control", placeholder = Html.DisplayNameFor(n => n.Search.Filter) })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="sr-only" for="checkin">Check in</label>
                                    <div class="input-group">
                                        @Html.JQueryUI().DatepickerFor(m => m.Search.StartDate, new { type = "text", @class="form-control" }).ChangeMonth(true)
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="sr-only" for="checkout">Check out</label>
                                    <div class="input-group">
                                        @Html.JQueryUI().DatepickerFor(m => m.Search.EndDate, new { type = "text", @class = "form-control" }).ChangeMonth(true)
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="sr-only" for="guest">Guest</label>
                                    @Html.JQueryUI().SelectmenuFor(m => m.Search.CategoryId, new SelectList(ViewBag.MainCategories, "ID", "Name"), new { @class = "form-control col-md-2 !important" })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-default btn-primary">Search</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tab-content" id="rentItemPanel">
  @Html.Partial("_RecentItemsPartial", @Model.RecentItems)
    </div>