<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Noleggio</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>
    <link rel="stylesheet" href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" id="logo">Noleggio</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-collapse style= collapse in" id="bs-megadropdown-tabs" @*style= " padding-left 0px;"*@>
                <ul class="nav navbar-nav">
                    <li class="dropdown mega-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-bars"></i> Категории <span class="caret"></span></a>
                        <div id="filters" class="dropdown-menu mega-dropdown-menu">
                            <div class="container-fluid2">
                                <!-- Tab panes -->
                                <div class="tab-content">


                                    <div class="tab-pane active" id="kids">
                                        <ul class="nav-list list-inline">
                                          @Html.Partial("_Categories")
                                           
                                        </ul>
                                    </div>
                     
                                </div>
                            </div>
                            <!-- Nav tabs -->
                            @*<ul class="nav nav-tabs" role="tablist">
                                <li class="active"><a href="#kids" role="tab" data-toggle="tab">Countries</a></li>
                                <li><a href="#sports" role="tab" data-toggle="tab">Top Guess</a></li>
                            </ul>*@
                        </div>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="btn btn-default">TEst</li>
                    }
                </ul>
                @*<form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Търси">
                    </div>
                    <button type="submit" class="btn btn-default">Търси</button>
                </form>*@
    
                @Html.Partial("_LoginPartial")
               
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    
            <!-- End Carousel Inner -->
           
   
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/header.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>

